{% extends "layout/base.html" %} {% block home %}

<main class="main">
  <div class="main__inner container">
    <section class="hero">
      <div class="hero__inner">
        <div class="hero__typography">
          <h2 class="hero__title">Code Snippets</h2>
          <p class="hero__subtitle">
            30 seconds of code provides a curated collection of short code
            snippets for all your development needs. Our collection spans many
            topics, ranging from simple coding problems to theoretical concepts
            and development techniques.
          </p>
        </div>
        <div class="hero__image--box">
          <div class="hero__image--wrapper">
            <img
              class="hero__image"
              src="{{ url_for('static', filename='images/hero-img.jpg') }}"
              width="400"
              height="400"
              alt="hero image"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="category__section">
      <div class="category__section--inner">
        <ul class="category__list">
          {% for category in categories %}
          <li class="category__item">
            <a
              href="{{ url_for('get_category_posts',   category_slug=category.slug) }}"
              class="category__link"
              >{{ category.name }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <!-- POSTS -->
    <section class="posts">
      <div class="posts__inner">
        <ul class="posts__list">
          {% for post in posts %}
          <li class="posts__item post__item">
            <div class="post__item--image-box">
              <div class="post__item--image-wrapper">
                <img
                  class="post__item--image"
                  height="220"
                  src="{% if post.post_img_uri is not none %}{{ url_for('uploads', file_name=post.post_img_uri) }}{% endif %}"
                  alt="default-post-image"
                />
              </div>
            </div>
            <div class="post__item--typography">
              <a
                href="{{ url_for('post',   post_slug=post.slug) }}"
                class="post__item--title"
              >
                {{ post.title }}
              </a>
              <div class="post__item--text">
                {{ post.post_text|limited_str }}
              </div>
              <footer class="post__item--footer">
                <span class="post__item--category">
                  {{ post.category_id|category_name }}
                </span>
                <!-- <span class="post__item--tag">Object</span> -->
                <span class="post__item--createdDate"
                  >{{ '%s/%s/%s' % (post.created_date.month,
                  post.created_date.day, post.created_date.year) }}</span
                >
              </footer>
            </div>
          </li>
          {% endfor %}
          <!-- <li class="posts__item post__item">
            <div class="post__item--image-box">
              <div class="post__item--image-wrapper">
                <img
                  class="post__item--image"
                  src="{{ url_for('static', filename='images/default-post-image.jpg') }}"
                  alt="default-post-image"
                />
              </div>
            </div>
            <div class="post__item--typography">
              <a class="post__item--title" href="/post/a">
                Соревнования среди воблы по конькобежному спорту
              </a>
              <div class="post__item--text">
                <p>Победила команда килек из Петрозаводска</p>
              </div>
              <footer class="post__item--footer">
                <span class="post__item--category">JavaScript</span>
                <span class="post__item--tag">Object</span>
                <span class="post__item--createdDate">Sep 28, 2001</span>
              </footer>
            </div>
          </li>
          <li class="posts__item post__item">
            <div class="post__item--image-box">
              <div class="post__item--image-wrapper">
                <img
                  class="post__item--image"
                  src="{{ url_for('static', filename='images/default-post-image.jpg') }}"
                  alt="default-post-image"
                />
              </div>
            </div>
            <div class="post__item--typography">
              <h4 class="post__item--title">
                Соревнования среди воблы по конькобежному спорту
              </h4>
              <div class="post__item--text">
                <p>Победила команда килек из Петрозаводска</p>
              </div>
              <footer class="post__item--footer">
                <span class="post__item--category">JavaScript</span>
                <span class="post__item--tag">Object</span>
                <span class="post__item--createdDate">Sep 28, 2001</span>
              </footer>
            </div>
          </li> -->
        </ul>
      </div>
    </section>
  </div>
</main>

{% endblock %}
